body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #111;
    color: #eee;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 260px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    scroll-behavior: auto;
    overflow: scroll;
    height: 300px;
}
#results::-webkit-scrollbar {
    width: 8px;
}
#results::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}
#results::-webkit-scrollbar-track {
    background: #222;
}
.artist-item {
    padding: 10px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.artist-item:hover {
    background: #222;
}
